body{
    margin: 0;
}

.top-container{
    background-color: cadetblue;
    width: 800px;
    height:120px;
} 
.middle-container{
    background-color: cornflowerblue;
    width: 800px;
    height:120px;
}
.bottom-container{
    background-color: darkgray;
    width: 800px;
    height:120px;
} 
